## Assignment : While Loops

#### 1. Write a python script to print your name 5 times on the screen

In [5]:
# write your code here
i=0
while i<5:
  print("Anshuman", end=" ")
  i+=1

Anshuman Anshuman Anshuman Anshuman Anshuman

#### 2. Write a python script to print first 10 natural numbers

In [ ]:
# write your code here
i = 1
while i<=10:
  print(i,end=" ")
  i+=1

1 2 3 4 5 6 7 8 9 10

#### 3. Write a python script to print first 10 natural numbers in reverse order

In [8]:
# write your code here
i = 10
while i>=1:
  print(i,end=" ")
  i-=1

10 9 8 7 6 5 4 3 2 1

#### 4. Write a python script to print first 10 odd natural numbers

In [9]:
# write your code here
i = 1
while i<=20:
  print(i,end=" ")
  i+=2

1 3 5 7 9 11 13 15 17 19

#### 5. Write a python script to print first 10 odd natural numbers in reverse order

In [11]:
# write your code here
i = 19
while i>=1:
  print(i,end=" ")
  i-=2

19 17 15 13 11 9 7 5 3 1

#### 6. Write a python script to print first 10 even natural numbers

In [12]:
# write your code here
i = 2
while i<=20:
  print(i,end=" ")
  i+=2

2 4 6 8 10 12 14 16 18 20

#### 7. Write a python script to print first 10 even natural numbers in reverse order

In [13]:
# write your code here
i = 20
while i>=2:
  print(i,end=" ")
  i-=2

20 18 16 14 12 10 8 6 4 2

#### 8. Write a python script to print squares of first 10 natural numbers

In [ ]:
# write your code here
i = 1
while i<=10:
  print(i*i,end=" ")
  i+=1

1 4 9 16 25 36 49 64 81 100

#### 9. Write a python script to print cubes of first 10 natural numbers

In [15]:
# write your code here
i = 1
while i<=10:
  print(i**3,end=" ")
  i+=1

1 8 27 64 125 216 343 512 729 1000

#### 10. Write a python script to print first 10 multiples of 5

In [17]:
# write your code here
i = 1
while i<=10:
  print(f"5 x {i} =",5*i)
  i+=1

5 x 1 = 5
5 x 2 = 10
5 x 3 = 15
5 x 4 = 20
5 x 5 = 25
5 x 6 = 30
5 x 7 = 35
5 x 8 = 40
5 x 9 = 45
5 x 10 = 50

#### 11. Write a python script to print your name N times on the screen

In [19]:
# write your code here
n = int(input("n = "))
i = 0
while i<n:
  print("Anshuman",end=" ")
  i+=1

Anshuman Anshuman Anshuman Anshuman Anshuman Anshuman Anshuman

#### 12. Write a python script to print first N natural numbers

In [21]:
# write your code here
n = int(input("n = "))
i = 1
while i<=n:
  print(i,end=" ")
  i+=1

1 2 3 4 5 6 7 8 9 10 11 12 13 14 15 16 17 18 19 20

#### 13. Write a python script to print first N natural numbers in reverse order

In [ ]:
# write your code here
n = int(input("n = "))
i = n
while i>=1 :
  print(i,end=" ")
  i-=1

20 19 18 17 16 15 14 13 12 11 10 9 8 7 6 5 4 3 2 1

#### 14. Write a python script to print first N odd natural numbers

In [26]:
# write your code here
n = int(input("n = "))
i = 1
while i < 2*n :
  print(i,end=" ")
  i+=2

1 3 5 7 9

#### 15. Write a python script to print first N odd natural numbers in reverse order

In [27]:
# write your code here
n = int(input("n = "))
i = 2*n - 1
while i >= 1 :
  print(i,end=" ")
  i-=2

9 7 5 3 1

#### 16. Write a python script to print first N even natural numbers

In [28]:
# write your code here
n = int(input("n = "))
i = 2
while i <= 2*n :
  print(i,end=" ")
  i+=2

2 4 6 8 10 12 14 16 18 20 22 24 26 28 30 32 34 36 38 40

#### 17. Write a python script to print first N even natural numbers in reverse order

In [29]:
# write your code here
n = int(input("n = "))
i = 2*n
while i >= 2 :
  print(i,end=" ")
  i-=2

10 8 6 4 2

#### 18. Write a python script to print squares of first N natural numbers

In [32]:
# write your code here
n = int(input("n = "))
i = 1
while i <= n :
  print(i**2,end=" ")
  i+=1

1 4 9 16 25

#### 19. Write a python script to print cubes of first N natural numbers

In [33]:
# write your code here
n = int(input("n = "))
i = 1
while i <= n :
  print(i**3,end=" ")
  i+=1

1 8 27 64 125 216 343

#### 20. Write a python script to print first 10 multiples of N

In [35]:
# write your code here
n = int(input("n = "))
i = 1
while i <= 10 :
  print(f"{n} x {i} =",n * i)
  i+=1

9 x 1 = 9
9 x 2 = 18
9 x 3 = 27
9 x 4 = 36
9 x 5 = 45
9 x 6 = 54
9 x 7 = 63
9 x 8 = 72
9 x 9 = 81
9 x 10 = 90